.body--design{
    background-color: #e5e5e5;
}
.navigation-bar{
    background-color: #354955;
    height: 50px;
    display: flex;
    justify-content: center;

}

.navi-link{
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.hero{
    background-color: #1F2428;
    min-height: 70vh;
    color: #fff;
}

#profile_pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.hero--content{
    width: 800px;
    margin: 0 auto;
    padding: 3em;
}

.hero--content--intro{
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 3em;
    
}

.intro--name{
    font-size: 100px;
    letter-spacing: .1em;
    font-weight: 700;
    line-height: .9em;
}

.description{
    font-size: 65px;
    text-align: center;
}

.slogan{
    font-size: 24px;
    text-align: center;
}

.project--column{
    min-width: 300px;
 
}

.project--header{
    margin-top: 1em;
    
}


.project--thumbnail{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.project--wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    
}
.project--column:hover{
    border: 1px solid #777;
}

.project--body{
    background-color: #fff;
    padding: 1em;
}


.section--skills{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #fff;
}
.skills--container{
    
    width: 600px;
    margin: 0 auto;
    padding: 1em;
}  

.skills--wrapper{
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    gap: 2em;
    align-items: center;
    text-align: justify;
}



 


.skill--tag{
    background-color: #C4E7F2;
    width: fit-content;
    padding: 3px 20px;
    border-radius: 20px;
}
.other--skills--wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    
}


@media (max-width:900px){
    .hero--content--intro{
        flex-direction: column;
    }

    .project--wrapper{

        grid-template-columns: 1fr ;

        
    }
}

@media (max-width:800px){
    .hero--content{
        width: 100%;
    }
}




@media (max-width:600px){
    
    .skills--container{
        width: 100%;
    }

   
}


@media (max-width:400px){


    .skills--wrapper{
        flex-flow: column;
        
    }
}


.section--2{
    background-color: #E5E5E5;
    padding-top: 2em;
    padding-bottom: 2em;
}


.project--image{
    max-width: 800px;
}
