{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<section class="section--2">

    <div class="container">
      <h1 class="contact--form mb-3">Contact Me</h1>
      <form class="contact--form" action="" method="POST">
        {% csrf_token %} 
        {% for field in form %}
  
        <div class="mb-3">
          <label for="" class="form-label">{{field.label}}</label>
          {{field}}
        </div>
  
        {% endfor %}
        <input
          class="btn btn-primary"
          type="submit"
          value="Submit"
          name=""
          id=""
        />
      </form>
    </div>
  </section>

{% endblock content %}