{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<section class="container section--2">
    <h1 class="project--header">My Projects</h1>
    <h5>Please check these projects to know more about my works</h5>
  
    <div class="project--wrapper rounded">
      {% for project in projects %}
      <div class="project--column">
        <a href="{% url 'project' project.id %}">
          <img
            class="project--thumbnail rounded"
            src="{{project.thumbnail.url}}"
            alt=""
          />
        </a>
  
        <div class="project--body">
          <h4>{{project.title}}</h4>
        </div>
      </div>
      {% empty %}
      <h3>There are no projects in the database</h3>
      {% endfor %}
    </div>
  
  </section>

{% endblock content %}